

*, ::before, ::after {
    box-sizing: border-box;
  }

body{
  width: 100%;
  font-family: 'Raleway', sans-serif;
  margin: auto; 
}

h1, h2{  
  font-size: 22px; 
}


header  {  
  display: flex; 
  flex-wrap: wrap; 
  align-items: center;
  justify-content: center;  
}

.logo{
  height: auto;
  width: 90px;
  margin-right: auto;
  margin-left: 10px;
  align-self: flex-end;
  padding-top: 20px;
}

.navIscrire{
  display: flex;
  align-items: flex-end;
}
.inscrire{
  padding-top: 45px;
  margin-right: 20px;
}
.hebergementActivite ul {
  display: flex;
  padding: 0 0 0 0px ;
  margin :0;
  height: 55px;    
}

.hebergementActivite li{   
  list-style: none;    
  padding: 40px 20px 0 20px;
}

nav a{  
  text-decoration: none;  
  color: black; 
  font-weight: bold; 
}

header li:hover  { 
  border-top:2px solid #0065FC;
  color: #0065FC;
}

header a:hover{
  color: #0065FC;
}

.inscrire a{
  text-decoration: none;  
  color: #0065FC;
  font-size: 16px;
  font-weight: bold;
}

/***************** section recherche de l'hebergement */
.recherche h1 {
margin: 10px 0px 10px 0;
}
.recherche {
 margin: 40px 60px 15px 20px;
}

/* *******************boutton recherche************* */

.bouttonRecherche{
  display: flex;
  margin: 0 0 0 20px;
}

.bouttonRecherche i {
  background: #F2F2F2 ;
  border:  #F2F2F2 ;
  border-radius: 10px 0 0 10px;
  padding: 10px 17px;
  line-height:30px;  
}

.boutton{  
  border: 2px solid #f2f2f2; 
  border-radius: 0px 0 0 0px;
  font-weight: bold;
  font-size: 16px;
  width: 250px;
}

.envoyer{
  background: #0065FC;
  color: white;
  border-radius: 0px 10px 10px 0px;  
  padding: 5px 15px 5px 15px;
  border-style: none;
  font-weight: bold;
  font-size: 16px;
}

#loupe {
  color: white;
  visibility: hidden;
  background: #0065FC ;
  border:  #0065FC ;
  border-radius: 10px;
  padding: 10px 17px 10px 17px;
  position: relative;
  left: -135px; 
  line-height:30px; 
}

/* ***************les filtres*************** */
 .filtres{
display: flex;
align-items: center;
margin: 15px 0 15px 20px;
padding:0 0 0 0;
font-weight: bold;
font-size: 16px;
} 

.btFiltres{
  display: flex;
  flex-direction: row;
}

.icon-money i, .icon-child i, .icon-heart i, .icon-dog i {  
  background-color: #DEEBFF; 
  color: #0065FC; 
  border-radius: 50px;  
  padding: 12px ;
  border: 3px solid #DEEBFF;
  cursor: pointer;
  position: relative;
  left: -2px;
}
.icon-child i{
  padding-left: 14px ;
  padding-right: 14px ;
}
.icon-money i{
  padding-left: 10px ;
  padding-right: 10px ;
}

.icon-money, .icon-child, .icon-heart, .icon-dog{
  cursor: pointer;
  border-radius: 50px ;
  border: 2px solid #F2F2F2;
  padding: 0 20px 0 0 ;
  margin: 18px;  
  }

  .icon-money:hover, .icon-child:hover, .icon-heart:hover, .icon-dog:hover{
    color: white ;
    background-color: #0065FC;   
  }
  
  .icon-ifo{
    display: flex;
   flex-direction:row;
   margin: 0 0 30px 20px
}

  .icon-ifo span{
 font-size: 16px;
  margin-left: 10px;
}

.icon-ifo i{
    
  color:#0065FC; 
  font-size: 12px;
  border-radius: 50px ;
  border: 2px solid #F2F2F2;
  padding: 4px 8px ; 
  align-self: baseline; 
}


/* ***************section1 hebergement a marseille*************** */

.section1{
  background: #F2F2F2;
  border-radius: 40px;
  height: auto;
  width: 65%; 
  margin-right: 10px;
  display: flex; 
  flex-direction: column; 
  justify-content:space-around;
  align-items: flex-start;
}

.section1 h2{
  margin:  20px 20px 0px 20px;
}

.section1 h3 {
  margin: 5px 20px 20px 20px;
  font-size: 18px;
  font-weight: bold;
}

.photoSection1 p{
 margin: 0px; 
 font-size: 15px; 
}
.carteText2 p{
  font-size: 13px;
}

.photoSection1 .carteText{
  height:65px ;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  justify-content: space-evenly;
}

.photoSection1 a{
  text-decoration:none;  
  color: black;  
  position:initial;  
}

.hebergement-marseille { 
  /* width:  95% ;  */
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr ;
  grid-gap: 20px; 
  margin: 20px;
  justify-items: center;
  align-items: center;
  
}

.hebergement-marseille img {
  width: 97%;
  height: 135px;
  border-radius: 20px 20px 0 0 ;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  object-fit: cover;
  
}

.photoSection1 {
  background-color: white;
  border-radius: 10%;
  width: 100%;
  height: 210px;
  padding: 0;  
  box-shadow: 0px 0px 13px 0px rgb(0 0 0 / 14%); 
}               

.fontWidthBold {
  font-weight: bold;
}

.photoSection1 .star{
  display: flex;
  color: #0065FC;
  font-size: 12px ;  
}

.starGrey1 :nth-child(5n) {
  color: rgb(190, 190, 190);
}
.starGrey2 :nth-child(4n) {
  color: rgb(190, 190, 190);
}

/****************** section2 plus-populaire */
.section2{
  width: 35%;
}

.populaire{    
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 20px; /*  la taille de l icon */
    margin-bottom: 10px;
}

.plus-populaires a{  
    text-decoration: none;  
    color: #000; 
}

.plus-populaires{
   background: #F2F2F2;
   border-radius: 40px;
   padding: 5px 20px;
   margin-left: 10px;  
   height: 100%;
   width: 100%;  
  }

  .photoSection2 {
    background-color: white;
    border-radius: 30px;
    width: 100%;
    height: 150px;
    margin: 0 0px 20px 0 ;
    padding: 5px;
    display: inline-flex;
    box-shadow: 0px 0px 13px 0px rgb(0 0 0 / 14%); 
    object-fit: cover;
  }

    .photoSection2 .img2{
      height: auto ;
      display: flex; 
     } 

  .plus-populaires img {
    width: 140px;
    height: auto;
    border-radius: 20% 0 0 20%;
    object-fit: cover;
  }

    .photoSection2 p{
      margin: 0;
    }

    .photoSection2  .star{
      display: flex;
      color: #0065FC;
      font-size: 12px;
    }

    .photoSection2 .carteText{
      display: flex;
      flex-direction: column;
      margin-left: 16px;
      justify-content: space-around;
    }

    .photoSection2 .carteText1{
      font-size: 16px;
    }
    .carteText1 p:nth-child(2){
      font-size: 14px;
      margin-top: 7px;
    }

    /* **********section  regroupe la section 1 et la section2 */

.sect1sec2{
  width: 100%;
  display: flex;
  height: auto;
  margin-top: 10px;
  margin-bottom: 40px;
  padding: 0 30px 0 30px
}

/* *****************************section3 activites******** */
.titreActivité{
  margin: 25px 0 25px 35px;
}

.section3{
  width: 100%;
  height: auto; 
  display: grid;
  margin: 0 0px 40px 0px;
  padding: 0 20px 0 20px ;  
  grid-template-areas: 
      "vieuxPort  fortPomegue  parcNCalanques   notreDame      "
      "vieuxPort  fortPomegue  parcNCalanques   notreDame      "
      "vieuxPort  fortPomegue  parcNCalanques   notreDame      "
      "vieuxPort  fortPomegue  parcNCalanques   notreDame      "
      "vieuxPort  fortPomegue  parcNCalanques   notreDame      "
      "vieuxPort  fortPomegue  parcNCalanques   parcLongchamp  "
      "vieuxPort  ileFrioul    parcNCalanques   parcLongchamp  "
      "vieuxPort  ileFrioul    parcNCalanques   parcLongchamp  "
      "vieuxPort  ileFrioul    parcNCalanques   parcLongchamp  "
      "vieuxPort  ileFrioul    parcNCalanques   parcLongchamp  "
  ;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-rows: repeat(10,1fr);
    grid-template-columns: repeat(4,1fr) ;      
}

.section3 a{  
    text-decoration: none;  
    color: #000; 
}

.card-activite{
  background: white;
  border-radius : 30px; 
  box-shadow: 0px 0px 13px 0px rgb(0 0 0 / 14%);
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  font-weight: bold;
  font-size: 15px;
  
}

.text-img{
  height: 55px;
  margin-left: 10px;
}

.section3 img{
  object-position: center;
  flex-shrink: 0;
}

/* ******************conteneur  vieux port******* */
.vieuxPort{
  grid-area: vieuxPort; 
}

.section3 .img1{
  flex: auto;
  width: 100%;
  height: 200px;
  object-fit: cover;
  /* object-position: -150px 0px; */
  object-position: center;
  border-radius: 30px 30px 0 0;  
}

/* ******************conteneur  fortPomegue******* */
.fortPomegue{
  grid-area: fortPomegue;  
}

.section3 .img2 {
  flex: auto;
  width: 100%;
  height: 120px;
  object-fit: cover;
  /* object-position: 0px -120px; */
  border-radius: 30px 30px 0 0;
}

/* ******************conteneur Îles du Frioul **********/
.section3 .img3 {
  flex: auto;
  width: 100%;
  height: 80px;
  object-fit: cover;
  /* object-position: 0px -45px; */
  border-radius : 30px 30px 0 0;  
}

.ileFrioul{
  grid-area: ileFrioul ;   
  }

/* ******************conteneur Parc National des Calanques **********/
.section3 .img4{
  flex: auto;
  width: 100%;
  height: 200px;
  object-fit: cover;
  /* object-position: -140px 0px; */
  object-position: center;
  border-radius : 30px 30px 0 0;  
}

.parcNCalanques{
  grid-area: parcNCalanques ;     
}

/* ******************conteneur Notre Dame-de-la-Garde **********/
.section3 .img5{
  flex: auto;
  width: 100%;
  height: 100px;
  object-fit: cover;
  /* object-position: 0px -15px; */
  border-radius : 30px 30px 0 0;
}

.notreDame{
  grid-area: notreDame ;  
 } 

/* ******************conteneur Parc Longchamp **********/
.section3 .img6{
  flex: auto;
  width: 100%;
  height: 100px;
  border-radius : 30px 30px 0 0;  
  object-fit: cover;
  /* object-position: 0px -35px; */
}

.parcLongchamp{
  grid-area: parcLongchamp ;
} 

    /* ************ footer******** */

  footer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #F2F2F2; 
    font-size: 16px;
    line-height: 25px;

  }
  .footer__ul{
    flex: 1;
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    
  }

  footer ul {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 0px;
    margin-left: 20px;    
  }

  footer li:first-child{
    font-weight: bold;
    margin: 20px 0 12px 0;

  }
  
  footer li{   
    color: #000;
    list-style: none;     
  }

  footer a{
    text-decoration: underline;
    text-decoration: none;  
    color: #000; 
  }
    
 
 